@page "/control"
@inject SweetAlertService Swal

<h3>Control de Asistencia</h3>
<button class="btn btn-primary" @onclick="LoadData">SweetAler2</button>
<i class="bi-alarm" style="font-size: 2rem"></i>

@code {
    private void LoadData()
    {
        Swal.FireAsync("Carga de Datos...");
    }
}
